@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc.Helpers
@using Sitecore.Data
@using Sitecore.Data.Items
@using Sitecore.Data.Fields


@{
    Layout = null;

    Item Itemdata = (Item)Model;
}

<header>
    <div class="header-top__area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4 col-4">
                    <div class="topbar__link">
                        <a href="/faq">Faq</a><a href="/case-study">Case</a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-8">
                    <div class="topbar__right d-flex align-items-center justify-content-end">
                        <div class="tobar__social d-none d-md-block">
                            <div class="topbar__social">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-brands fa-behance"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="header__lang p-relative pl-40">
                            <span class="header__lang-selected">English</span>
                            <ul class="header__lang-list">
                                <li>Spanish</li>
                                <li>Portugese</li>
                                <li>American</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header-sticky" class="header__widget-area">
        <div class="container">
            <div class="header__widget-main">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3 col-6">
                        <div class="header__logo">
                            <a href="/">
                                @*<img src="assets/img/Logo.png" alt="logo" />*@
                                @Html.Sitecore().Field("Logo",Itemdata)
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-6">
                        <div class="header__widget-wrapper">
                            <div class="header__widget-info">
                                <div class="header__widget-icon">
                                    @*<img src="assets/img/Call.png"
        alt="icon not found" />*@
                                    @Html.Sitecore().Field("CallLogo", Itemdata)
                                </div>
                                <div class="header__widget-content">
                                    
                                    @Html.Sitecore().Field("CallText", Itemdata)
                                    <h4><a href="tel:00211232000">
                                             @*00 211 232 000*@
                                             @Html.Sitecore().Field("CallNum", Itemdata)
                                        </a></h4>
                                </div>
                            </div>
                            <div class="header__widget-info">
                                <div class="header__widget-icon">
                                    @*<img src="assets/img/email.png"
        alt="icon not found" />*@
                                    @Html.Sitecore().Field("EmailLogo", Itemdata)
                                </div>
                                <div class="header__widget-content">
                                    <span>
                                        @*Email Address*@
                                        @Html.Sitecore().Field("EmailText", Itemdata)
                                    </span>
                                    <h4>
                                        <a href="mailto:info@webmail.com">
                                            @*info@webmail.com*@
                                            @Html.Sitecore().Field("EmailAdd", Itemdata)
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="header__right">
                                <div class="header__button d-none d-lg-block">
                                    <a class="header__btn-1" href="https://eurtech-react.vercel.app/contact">
                                        @*Get Appointment*@
                                        @Html.Sitecore().Field("ctaText", Itemdata)
                                        <span><i class="fa-solid fa-angle-right"></i></span>
                                    </a>
                                </div>
                                <div class="header__widget-toggle d-lg-none">
                                    <span class="sidebar__toggle">
                                        <div class="bar-icon">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="hidden__header">
                            <div class="hidden__header-inner">
                                <div class="main-menu d-none d-lg-block">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li class="active has-dropdown">
                                                <a href="/">Home</a>
                                                
                                                <ul class="submenu">
                                                    <li><a href="/">Home Style 01</a></li>
                                                    <li><a href="/home-2">Home Style 02</a></li>
                                                    <li><a href="/home-3">Home Style 03</a></li>
                                                </ul>
                                            </li>
                                            <li class="undefined">
                                                <a href="/about">About</a>
                                                
                                            </li>
                                            <li class="active has-dropdown">
                                                <a href="/service">Services</a>
                                                <ul class="submenu">
                                                    <li>
                                                        <a href="/service">Services</a>
                                                    </li>
                                                    <li>
                                                        <a href="/service-details">Service Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="active has-dropdown">
                                                <a href="/blog">Blog</a>

                                                <ul class="submenu">
                                                    <li><a href="/blog">Blog</a></li>
                                                    <li><a href="/blog-details">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="active has-dropdown">
                                                <a href="/team">Pages</a>
                                                <ul class="submenu">
                                                    <li><a href="/team">Team</a></li>
                                                    <li><a href="/team-details">Team Details</a></li>
                                                    <li><a href="/case-study">Case Study</a></li>
                                                    <li><a href="/case-details">Case Details</a></li>
                                                    <li><a href="/pricing">Pricing</a></li>
                                                    <li><a href="/faq">FAQ</a></li>
                                                    <li><a href="/error">404 Page</a></li>
                                                </ul>
                                            </li>
                                            <li class="undefined">
                                                <a href="/contact">Contact</a>
                                                
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header__button d-none d-xl-block">
                                    <a class="header__btn-1" href="/contact">
                                        Get Appointment<span><i class="fa-solid fa-angle-right"></i></span>
                                    </a>
                                </div>
                                <div class="header__toggle d-lg-none">
                                    <span class="sidebar__toggle">
                                        <div class="bar-icon">
                                            <span></span><span></span><span></span>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__area header__transparent">
        <div class="container">
            <div class="header__main-wrapper d-none d-lg-block">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-2 col-lg-2 col-6">
                        <div class="header__toggle">
                            <button class="sidebar__toggle">
                                <img src="/assets/img/bento-menu.svg" alt="bento mentu">
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                        <div class="menu__main-wrapper d-flex justify-content-center">
                            <div class="main-menu d-none d-none d-lg-block">
                                <nav id="mobile-menu-2">
                                    <ul>
                                        <li class="active has-dropdown">
                                            @*<a href="/">Home</a>*@
                                            <a>@Html.Sitecore().Field("Home", Itemdata)</a>
                                            <ul class="submenu">
                                                <li><a href="/">Home Style 01</a></li>
                                                <li><a href="/home-2">Home Style 02</a></li>
                                                <li><a href="/home-3">Home Style 03</a></li>
                                            </ul>
                                        </li>
                                        <li class="undefined">

                                            @*<a href="/about">About</a>*@
                                            <a>@Html.Sitecore().Field("About", Itemdata)</a> 

                                        </li>
                                        <li class="active has-dropdown">
                                            @*<a href="/service">Services</a>*@
                                            <a>@Html.Sitecore().Field("Services", Itemdata)</a>
                                            <ul class="submenu">
                                                <li><a href="/service">Services</a></li>
                                                <li>
                                                    <a href="/service-details">Service Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="active has-dropdown">
                                            @*<a href="/blog">Blog</a>*@
                                            <a>@Html.Sitecore().Field("Blog", Itemdata)</a>
                                            <ul class="submenu">
                                                <li><a href="/blog">Blog</a></li>
                                                <li><a href="/blog-details">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="active has-dropdown">
                                            @*<a href="/team">Pages</a>*@
                                            <a>@Html.Sitecore().Field("Pages", Itemdata)</a>
                                            <ul class="submenu">
                                                <li><a href="/team">Team</a></li>
                                                <li><a href="/team-details">Team Details</a></li>
                                                <li><a href="/case-study">Case Study</a></li>
                                                <li><a href="/case-details">Case Details</a></li>
                                                <li><a href="/pricing">Pricing</a></li>
                                                <li><a href="/faq">FAQ</a></li>
                                                <li><a href="/error">404 Page</a></li>
                                            </ul>
                                        </li>
                                        <li class="undefined">
                                            @*<a href="/contact">Contact</a>*@
                                            <a>@Html.Sitecore().Field("Contact", Itemdata)</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-6">
                        <div class="header__right text-end">
                            <div class="search__button">
                                <span class="search__toggle">
                                    <i class="header-search__btn fa-regular fa-magnifying-glass"></i><i class="header-search__close fa-regular fa-xmark"></i>
                                </span>
                                <div class="bd-search__form p-relative">
                                    <form action="#">
                                        <input type="text"
                                               placeholder="Search here..." /><button type="submit">
                                            <i class="fa-regular fa-magnifying-glass"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>